:root{
    --backgroundContainer: rgba(0, 0, 0, 0.3);
    --textFocused: rgba(255, 255, 255, 1);
    --textDormant: rgba(107, 121, 124, 0.7);
    --backgroundSolid: rgba(3, 23, 30, 1);
    --textSemi: rgba(255, 255, 255, 0.5);
    --mainContentBox: rgba(255, 255, 255, 0.07);
    --mainBoxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Adobe Clean", sans-serif;
}

#container{
    position: absolute;
    top: 0;
    left: 0;
    /*min-width: 100vw;*/
    min-height: 100%;
    object-fit: cover;
    overflow-y: hidden;
    /*height: 100vh;*/
    /*background-color: blue;*/
}
/*#testA{*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*}*/

#screenBack{
    background-color: var(--backgroundContainer);
    backdrop-filter: blur(30px);
    position: absolute;
    top: 6%;
    left: 6.5%;
    width: 87%;
    height: 87%;
    border-radius: 2vh;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
#header{
    position: relative;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    /*background-color: white;*/
}
#buttonsCMZ{
    display: grid;
    position: relative;
    top: 42.5%;
    left: 2%;
    width: 5%;
    margin: 0;
    border: none;
    grid-template-columns: repeat(3, 1fr);
}
.optionsCMZ{
    position: relative;
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
}

#newLocation::placeholder{
    font-family: "Adobe Clean", sans-serif;
    color: var(--textDormant);
    /*padding-left: 4%;*/
    position: relative;
    top: 0%;
    font-size: 3vh;
}
#newLocation{
    z-index: 20;
    color: var(--textFocused);
    font-size: 3vh;
    text-shadow: 0 0 1px var(--textFocused);
    background-color: var(--backgroundSolid);
    background-image: url("/img/search.png");
    background-size: 3vh 3vh;
    background-position: 2vh center;
    background-repeat: no-repeat;
    border: none;
    position: relative;
    left: 70%;
    top: 0%;
    width: 20%;
    height: 55%;
    padding-left: 4%;
    border-radius: 2vh;
    /*margin: 20px;*/
    transition: width 1s ease, left 1s ease;
}
#newLocation:focus{
    outline: none;
    position: relative;
    left: 20%;
    width: 60%;
    height: 55%;
}

#headerLinks{
    position: relative;
    left: 15%;
    top: -45%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    height: 100%;
    font-size: 3vh;
    align-items: center;
    text-align: center;
    z-index: 10;
    transition: left 1s ease, font-size 1s ease;
}
.headerAtag{
    text-decoration: none;
    height: 100%;
    position: relative;
    top: -0%;
}
.headerHREF{
    display: grid;
    place-items: center;
    position: relative;
    font-weight: bold;
    top: -35%;
    left: -10%;
    height: 100%;
    color: var(--textSemi);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: color 0.3s ease, border-bottom-color 0.5s ease;
}
.headerHREF:hover{
    text-decoration: none;
    color: var(--textFocused);
    border-bottom: 2px solid var(--textFocused);
}
a:hover{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

#content{
    width: 100%;
    height: 89.8%;
    display: grid;
    grid-template-columns: 18% 82%;
}
#mainContent{
    background-color: var(--backgroundContainer);
    /*height: 99.9%;*/
    border-bottom-right-radius: 2vh;
    z-index: 20;
}
#sidebar{
    font-size: 2.5vh;
    overflow-y: auto;
    border-right: 1px solid var(--textDormant);
    border-bottom-left-radius: 2vh;
    font-family: "Adobe Clean", sans-serif;
    overflow-x: hidden;
}
#sidebar::-webkit-scrollbar{
    width: 1vh;
    background-color: rgba(0, 0, 0, 0);
}
#sidebar::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1vh;
}
.sidebarContainer{
    margin: 2vw;
    color: var(--textSemi);
    display: grid;
    width: 90%;
    grid-template-columns: 1fr;
}
.sidebarHREF{
    display: grid;
    align-items: center;
    width: 80%;
    padding-left: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    color: var(--textFocused);
    text-decoration: none;
    border-radius: 1vh;
}
.sidebarHREF:hover{
    background-color: var(--backgroundContainer);
}
#mainContent{
    overflow-x: hidden;
}
#mainContent::-webkit-scrollbar{
    width: 1vh;
    background-color: rgba(0, 0, 0, 0);
}
#mainContent::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1vh;
}
#temp{
    background-color: var(--mainContentBox);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 90%;
    height: 35%;
    margin: 4% 5% 2.5% 5%;
    border-radius: 2vh;
    overflow-x: auto;
    overflow-y: hidden;
    transition: top 1s ease;
}
#temp::-webkit-scrollbar{
    display: none;
}
#mainDisplay{
    height: 100%;
    display: flex;
    padding: 0;
}
.homeForecast{
    /*display: none;*/
    flex: 0 0 auto;
    position: relative;
    width: 13%;
    height: 100%;
    text-align: center;
    color: var(--textFocused);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    /*margin-right: 10px;*/
    /*border-radius: 2vh;*/
    /*background-color: antiquewhite;*/
    background-repeat: no-repeat;
    background-image: url("//cdn.weatherapi.com/weather/64x64/night/113.png");
    background-size: 12vh 12vh;
    background-position: center center;
    z-index: 50;
    box-sizing: border-box;
    /*transition: background-color 0.5s ease;*/
}
.homeForecast:hover{
    background-color: var(--backgroundContainer);
}
.homeForecast p{
    position: relative;
    top: 25%;
    font-size: 2vh;
}

.loading {
    display: block;
    position: relative;
    left: 45%;
    top: 30%;
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    border-bottom: 1.5vh solid darkred;
    border-left: 1.5vh solid darkolivegreen;
    border-right: 1.5vh solid cornflowerblue;
    border-top: 1.5vh solid coral;
    animation: spin 1.5s linear infinite;
}
#loadingStart{
    /*position: relative;*/
    top: 40%;
    left: 45%;
    height: 10vh;
    width: 10vh;
    transition: left 2s ease;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#heading{
    color: var(--textFocused);
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 1fr;
    height: 10%;
    margin: 1% 6% 5%;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    line-height: 2.6vh;
}
#heading h1{
    font-size: 5vh;
}
#heading h2{
    font-size: 3vh;
    /*color: var(--textDormant);*/
}
#temperatureCurrent{
    display: grid;
    position: relative;
    top: -3%;
    align-items: center;
    font-size: 5.9vw
}
#rightClock{
    text-align: right;
}
#heatmapSwitch{
    display: grid;
    position: relative;
    top: -6%;
    left: 75%;
    width: 30%;
    height: 30%;
    border-radius: 2vh;
    background-color: var(--mainContentBox);
    text-align: center;
    align-items: center;
    transition: left 0.5s ease, width 0.5s ease, height 0.5s ease;
    font-size: 1vw;
}
#heatmapSwitch:hover{
    background-color: rgba(255, 255, 255, 0.3);
    left: 65%;
    width: 35%;
    height: 35%;
    cursor: pointer;
}
#start{
    display: block;
    position: relative;
    background-color: white;
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: width 2s ease;
}
#airOverview{
    /*background-color: coral;*/
    grid-area: airOverview;
}
#astronomyOverview{
    /*background-color: cornflowerblue;*/
    grid-area: astronomyOverview;
}
#currentOverview{
    grid-area: currentOverview;
}
#widgetContainer{
    width: 90%;
    height: 80%;
    box-shadow: var(--mainBoxShadow);
    border-radius: 2vh;
    background-color: var(--mainContentBox);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#containerAstro{
    width: 90%;
    height: 65%;
    box-shadow: var(--mainBoxShadow);
    border-radius: 2vh;
    background-color: var(--mainContentBox);
}
#astronomyOverview div{
    width: 90%;
    height: 60%;
    box-shadow: var(--mainBoxShadow);
    border-radius: 2vh;
    background-color: var(--mainContentBox);
}
#secondaryDisplay h1{
    color: var(--textSemi);
    box-sizing: border-box;
    padding-left: 5%;
}
#secondaryDisplay{
    width: 90%;
    height: 80%;
    margin: 4% 5% 2.5% 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "currentOverview airOverview"
        "currentOverview astronomyOverview"
;
}
.widgetOv{
    border-radius: 2vh;
    box-shadow: var(--mainBoxShadow);
}
#wid1{
    background-color: var(--mainContentBox);
    background-image: url("/img/compassRose.png");
    background-size: 60% 70%;
    background-repeat: no-repeat;
    background-position: center 85%;
    text-align: center;
    margin: 10% 5% 5% 10%;
}
#wid1 h1{
    position: relative;
    left: -3%;
    color: var(--textSemi);
    font-size: 1.2vw;
}
#wid1:hover,#wid2:hover, #wid3:hover, #wid4:hover{
    cursor: pointer;
    background-color: var(--backgroundContainer);
}
#pointerCompass{
    position: relative;
    top: -18%;
    width: 100%;
    height: 100%;
    background-size: 100% 120%;
    background-position: center;
    /*transform: rotate(45deg);*/
    background-image: url("/img/compassPointer.png");
    transition: transform 1s ease;
}
#wid2{
    box-sizing: border-box;
    background-color: var(--mainContentBox);
    padding-left: 8%;
    padding-top: 0%;
    font-size: 1.1vw;
    text-align: center;
    color: var(--textFocused);
    line-height: 4.5vh;
    margin: 10% 10% 5% 5%;
}
#airQualityCircle{
    position: relative;
    top: -0%;
    left: 11.5%;
    width: 50%;
    height: 40%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: solid 2vh #Ffc508;
    border-left: solid 2vh darkolivegreen;
    border-right: solid 2vh darkred;
}
#wid2 h1{
    position: relative;
    top: -4%;
    left: -10%;
    color: var(--textSemi);
    font-size: 1.2vw;
}
#airQualityPointer{
    position: relative;
    top: 100%;
    left: -50%;
    width: 200%;
    height: 5%;
    background-image: linear-gradient(to left, rgba(255,255,255, 0) 50%, rgba(255,255,255, 1) 50%);
    transition: transform 1s ease;
}

#wid3{
    background-color: var(--mainContentBox);
    font-size: 3vw;
    color: var(--textFocused);
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5% 5% 10% 10%;
    line-height: 1.9vh;
}
#wid3 h1{
    position: relative;
    left: -3%;
    color: var(--textSemi);
    font-size: 1.2vw;
}
#uvIndex{
    background-image: linear-gradient(to right, green, yellow, coral, firebrick, purple);
    position: relative;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 20%;
    border-radius: 2vh;
    background-position: center;
}
#pointerUV{
    background-color: black;
    position: relative;
    top: -20%;
    border-radius: 2vh;
    width: 5%;
    height: 140%;
    transition: left 1s ease;
}

#wid4{
    background-color: var(--mainContentBox);
    font-size: 3vw;
    color: var(--textFocused);
    text-align: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    line-height: 2.5vh;
    margin: 5% 10% 10% 5%;
}
#wid4 h1{
    position: relative;
    left: -3%;
    color: var(--textSemi);
    font-size: 1.2vw;
}
#wid4 h3{
    position: relative;
    top: 10%;
    font-size: 1.1vw;
}
.loadingWidget{
    position: relative;
    left: 32.5%;
    top: 30%;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    border-bottom: 1.5vh solid darkred;
    border-left: 1.5vh solid darkolivegreen;
    border-right: 1.5vh solid cornflowerblue;
    border-top: 1.5vh solid coral;
    animation: spin 1.5s linear infinite;
}

#dayGraph{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 1) 50%);
    border-radius: 50%;
    position: relative;
    top: 5%;
    left: 35%;
    width: 30%;
    height: 90%;
}
#nightGraph1{
    /*background-color: white;*/
    background-image: url("/img/circle.png");
    background-size: contain;
    width: 75%;
    height: 66%;
    background-repeat: no-repeat;
    position: relative;
    transform: rotate(90deg);
    top: 42%;
    left: -70%;
}
#nightGraph2{
    /*background-color: white;*/
    background-image: url("/img/circle.png");
    background-size: contain;
    width: 75%;
    height: 64%;
    position: relative;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    top: -25%;
    left: 90%;
}
#lineAst{
    width: 68%;
    height: 8%;
    background-color: gray;
    position: relative;
    top: -46%;
    left: 16%;
    border-radius: 2vh;
}
#pointerAst{
    /*background-color: white;*/
    height: 1125%;
    width: 6%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 15%, gray 50%, rgba(0,0,0,0) 85%);
    position: relative;
    top: -500%;
    left: 95%;/*23 to 70*/
    transition: left 1s ease;
}